:root{
    --background-color: #323232;
    --color-text: #ffffff;
    --text-muted: #cccccc;

    --background-color-dark: #323232;
    --color-text-dark: #ffffff;
    --text-muted-dark: #cccccc;

    --background-color-light: #ffffff;
    --color-text-light: #181818;
    --text-muted-light: #6c757d;
    
}
body {
    margin: 2%;
    font: "Helvetica", Arial;
    background-color: var(--background-color); 
    color: var(--color-text);
}
a.title {
    color: var(--color-text);
}
a {
    color: inherit;
    /* border-color: var(--text-muted)); */
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    padding: 3px 0px 2px 0px;
}
a:hover {
    color: white;
    text-decoration: none;
    background-color: #606870;
    border-color: #606870;
}
.col-title {
    text-transform: uppercase;
    font-weight: 600;
}
.text-muted {
    color: var(--text-muted) !important;
}
#country_graph_svg {
    background-color: var(--background-color);;
}
select#chooseCountry {
    padding: 0.3em;
    color: var(--color-text);
    font-size: 1.5rem;
    background: transparent;
    -webkit-appearance: none;

}
select#ft_add_country {
    padding: 0.3em;
    color: var(--color-text);
    font-size: 1rem;
    background: transparent;
    -webkit-appearance: none;
}
select#testing_add_country {
    padding: 0.3em;
    color: var(--color-text);
    font-size: 1rem;
    background: transparent;
    -webkit-appearance: none;

}
select option{
    background-color: var(--background-color);;
}
.sparkline {
    fill: none;
    /* stroke: #000; */
    stroke: var(--color-text);
    stroke-width: 1px;
}
.sparkcircle {
    fill: #f00;
    stroke: none;
}
.sparklines-number {
    font-size: 85%;
    font-weight: 100;
}
.overlay {
    fill: none;
    pointer-events: all;
}
.labels-legend {
    font-size: 1rem;
}
ul.mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    align-items: baseline;
}
.mobile-menu li {
    text-transform: uppercase;
    border: 1px solid var(--text-muted);
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    flex-grow: 1;
    margin: 0.1rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    #container{
        max-width: inherit;
    }
}


/* SVG Icons */
.svg-icon {
    width: 1.5em;
    height: 1.5em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--color-text);
}
.svg-icon circle {
    stroke: var(--color-text);
    fill: var(--color-text);
    stroke-width: 1;
}
svg.text {
    font-size: 5px;
}

/* Nav Bar */
.sidebar_show {
    cursor: pointer;
}
.sidebar {
    margin-top: 1%;
}
.sidebar-heading {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
.sidebar-heading.active {
    background-color: rgba(140,140,140,0.5);
    border-radius: 0.5rem;
}

/* Colors */
.confirmed {
    color: #f29b12;
    color: #FFC107;
}
.deaths {
    /* color: #e64c3c; */
    color: #ff073a;
}
.recovered {
    color: #2ecb71;
}


/* Compare elements */

.element {
    background-color: var(--background-color);
    border: 2px solid rgba(200, 200, 200, .4);
    border-radius: 1rem;
    padding: 0.6em;
}
.card-title {
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;    
}
.category_element {
    margin: auto;
}
.offset_element {
    margin: auto;
    font-style: italic;
}
hr {
    border-top: 1px solid var(--text-muted);
}
.select-country-element {
    padding: 0.3em;
    color: var(--color-text);
    background: transparent;
    -webkit-appearance: none;
    margin: auto;
    border: 1px solid var(--color-text);
    width: 100%;
    max-width: calc(100% - 20px);
}
.select-category-element {
    padding: 0.3em;
    color: var(--color-text);
    background: transparent;
    -webkit-appearance: none;
}
.select-dates {
    padding: 0.3em;
    color: var(--text-muted);
    background: transparent;
    -webkit-appearance: none;
    border: 1px solid var(--text-muted);
}
.delete-element {
         cursor: pointer;
}
.delete-plot path {
    fill: var(--text-muted);
}

/*  Tooltip */
.rect_tooltip {
    fill: var(--background-color) !important;
    fill-opacity: 0.8 !important;
    stroke: var(--color-text) !important;
}
.rect_legend {
    fill: var(--background-color) !important;
    fill-opacity: 0.9 !important;
}
.tooltip_line {
    stroke: var(--color-text) !important;
}
tooltip_text {
    fill: var(--color-text);
}

.axis_title {
    fill: var(--color-text);
}
.grapher .xLabel.axisLabel {
    fill: var(--color-text);
}

#darkmodeSwitch {
    cursor: pointer;
}
#navSwitch {
    cursor: pointer
}

.banner {
    font-size: 0.8rem;
}
.text-orange {
    color: #e57e22;
}
/* popup */
#crossquit{
    position:absolute;
    color: var(--color-text);
    margin: 0;
    top: 2%; left:97%;
    cursor:pointer;
}
#popup{
    display:none;
    z-index: 1000;
    position:absolute;
    margin: 0;
    width: 90%;
    top: 5%;
    left:5%;
    padding: 2%;
    background-color: var(--background-color);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 25px;
}
@media (min-width: 1200px) {
    #popup{
        width: 60%;
        left: 20%;
    }
}


.download_data {
    cursor: pointer;
    color: var(--text-muted);
    stroke: var(--text-muted);
    fill: var(--text-muted);
    border: 1px solid var(--text-muted);
}
table.list-issues {
    color: var(--color-text) !important;
    background-color: var(--background-color) !important;
}
table.list-issues > tbody > tr:hover{
    color: var(--background-color) !important;
    background-color: var(--color-text) !important;
}
.footer {
    background-color: var(--background-color);
    padding: 0.5rem;
}

/* =================================================================== */

@media (max-width: 768px) {
    .footer {
        padding: 1rem;
    }
    .mobile-hide {
        display: none;
    }
    body {
        margin: 1%;
        font-size: 0.8rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .col-12 {
        padding-right: 5px;
        padding-left: 5px;
    }
    select#chooseCountry {
        font-size: 1rem !important;
        font-weight: bold;
    }
}
