:root{
    --background-color: #323232;
    --color-text: #ffffff;
    --text-muted: #cccccc;

    --background-color-dark: #323232;
    --color-text-dark: #ffffff;
    --text-muted-dark: #cccccc;

    --background-color-light: #ffffff;
    --color-text-light: #181818;
    --text-muted-light: #6c757d;
    
}
body {
    margin: 2%;
    font: "Helvetica", Arial;
    background-color: var(--background-color); 
    color: var(--color-text);
    font-color: 10px;
}
a.title {
    color: var(--color-text);
}
.text-muted {
    color: var(--text-muted) !important;
}
#country_graph_svg {
    background-color: var(--background-color);;
}
select#chooseCountry {
    padding: 0.3em;
    color: var(--color-text);
    font-size: 1.5rem;
    background: transparent;
    -webkit-appearance: none;

}
select option{
    background-color: var(--background-color);;
}
.sparkline {
    fill: none;
    /* stroke: #000; */
    stroke: var(--color-text);
    stroke-width: 1px;
}
.sparkcircle {
    fill: #f00;
    stroke: none;
}
.sparklines-number {
    font-size: 85%;
    font-weight: 100;
}
.overlay {
    fill: none;
    pointer-events: all;
}
.labels-legend {
    font-size: 1rem;
}

@media (min-width: 1200px) {
    #container{
        max-width: inherit;
    }
}
/* SVG Icons */
.svg-icon {
    width: 1.5em;
    height: 1.5em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: var(--color-text);
}
.svg-icon circle {
    stroke: var(--color-text);
    stroke-width: 1;
}

/* Nav Bar */
.sidebar_show {
    cursor: pointer;
}
.sidebar {
    margin-top: 1%;
}
.sidebar-heading {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
.sidebar-heading.active {
    background-color: rgba(140,140,140,0.5);
    border-radius: 0.5rem;
}

/* Colors */
.confirmed {
    color: #f29b12;
}
.deaths {
    color: #e64c3c;
}
.recovered {
    color: #2ecb71;
}


/* Compare elements */

.element {
    background-color: var(--background-color);
    border: 2px solid rgba(200, 200, 200, .4);
    border-radius: 1rem;
    padding: 0.75em;
}
.card-title {
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;    
}
.category_element {
    margin: auto;
}
.offset_element {
    margin: auto;
    font-style: italic;
}
hr {
    border-top: 1px solid var(--text-muted);
}
.select-country-element {
    padding: 0.3em;
    color: var(--color-text);
    background: transparent;
    -webkit-appearance: none;
    margin: auto;
    border: 1px solid var(--color-text);
}
.select-category-element {
    padding: 0.3em;
    color: var(--color-text);
    background: transparent;
    -webkit-appearance: none;
}
.select-dates {
    padding: 0.3em;
    color: var(--text-muted);
    background: transparent;
    -webkit-appearance: none;
    border: 1px solid var(--text-muted);
}
.delete-element {
         cursor: pointer;
}
.delete-plot path {
    fill: var(--text-muted);
}

/*  Tooltip */
.rect_tooltip {
    fill: var(--background-color);
    fill-opacity: 0.8;
    stroke: var(--color-text);
}
.rect_legend {
    fill: var(--background-color);
    fill-opacity: 0.5;
}
.tooltip_line {
    stroke: var(--color-text)
}
tooltip_text {
    fill: var(--color-text);
}

#darkmodeSwitch {
    cursor: pointer;
}


.banner {
    display: inline-block;
    font-size: 0.8rem;
}
.text-orange {
    color: #e57e22;
}
/* popup */
#crossquit{
    position:absolute;
    color: var(--color-text);
    margin: 0;
    top: 2%; left:97%;
    cursor:pointer;
}
#popup{
    display:none;
    z-index: 1000;
    position:absolute;
    margin: 0;
    width: 90%;
    top: 5%;
    left:5%;
    padding: 2%;
    background-color: var(--background-color);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 25px;
}
@media (min-width: 1200px) {
    #popup{
        width: 60%;
        left: 20%;
    }
}


.download_data {
    cursor: pointer;
    color: var(--text-muted);
    stroke: var(--text-muted);
    fill: var(--text-muted);
    border: 1px solid var(--text-muted);
}
